<% layout("/layouts/boilerplate") %>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">

        <div class="mb-3">
            <lable for="title" class="form label">Title</lable>
            <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control">
        </div>
       
        <div class="mb-3">
            <lable for="description" class="form label">Description</lable>
            <textarea name="listing[description]" class="form-control" placeholder="enter description"><%=listing.description%></textarea>
        </div>
       
        <div class="mb-3">
            <lable for="image" class="form label">Image Link</lable>
            <input name="listing[image]" placeholder="<%=listing.image%>" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <lable for="price" class="form label">Price</lable>
            <input name="listing[price]" placeholder="<%=listing.price%>" type="number" class="form-control">
        </div>
        
     <div class="mb-3">
        <lable for="country" class="form label">Country</lable>
        <input name="listing[country]" placeholder="<%=listing.country%>" type="text" class="form-control">
     </div>
      
     <div class="mb-3">
        <lable for="locatiom" class="form label">Location</lable>
        <input name="listing[location]" placeholder="<%=listing.location%>" type="text" class="form-control">
     </div>
        
        <button class="btn btn-dark edit-btn">Add</button>
    </form>
